<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=VINCE-LAPTOP\NATURECONVERVANC;Initial Catalog=SFMAD;Integrated Security=True;"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=VINCE-LAPTOP\NATURECONVERVANC;Initial Catalog=SFMAD;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>